<div class="">
    <div class="row">
        <div class="col-md-6">
            <app-shopping-item></app-shopping-item>
            <hr>

            <!-- <ul class="list-group">
                <li  class="list-group-item" *ngFor="let incredient of incredients">
                    <a href="#">
                    {{incredient.name}}  [{{incredient.amount}}]
                </a>
            </li>
            </ul> -->
            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action" 
                *ngFor="let incredient of incredients">
                    {{incredient.name}} 
                    <span class="badge badge-info">{{incredient.amount}}]</span>    
                </a>
            </div>
        </div>
    </div>
</div>