
<div class="">
    <div class="row">
        <div class="col-md-6">
            <app-recipe-list (selectedRecipeHere)="selectedRecipe =$event"></app-recipe-list>
        </div>
        <div class="col-md-6">
          
            <app-recipe-detail *ngIf="selectedRecipe ;else infoText"
            [selectedRecipeDetails]="selectedRecipe"></app-recipe-detail>
            <ng-template #infoText >
                <p class="m-3">please select a recipe from the list.</p>
            </ng-template>
        </div>
    </div>
</div>